{% extends 'base.html' %}
{% load product_filters %}
{% load static %}

{% block title %}Cart{% endblock %}

{% if cart %}
    {% block content %}
        <div class="row mt-3">
            <div class="col">
                <h3>Shopping cart</h3>
                <p class="lead">The products, quantities and prices you have chosen</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th class="d-none d-lg-block">Image</th>
                            <th>Product</th>
                            <th>V.</th>
                            <th>Amount.</th>
                            <th>Total</th>
                        </tr>
                        {% for variation in cart.values %}
                            <tr>
                                <td class="d-none d-lg-block">
                                    <img class="cart-img" src="{% get_media_prefix %}{{ variation.image }}">
                                </td>
                                <td>
                                    <a href="{% url 'product:details' variation.slug %}">
                                        {{ variation.product_name }}
                                    </a>
                                    <a
                                        class="ml-3"
                                        href="{% url 'product:remove_from_cart' %}?vid={{ variation.variation_id }}"
                                    >
                                        <i class="fas fa-times-circle text-danger" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td>{{ variation.variation_name }}</td>
                                <td>
                                    {{ variation.amount }} x
                                    {% if variation.promotional_quantitative_price %}
                                        {{ variation.variation_promotional_price | currency_filter }}
                                    {% else %}
                                        {{ variation.variation_price | currency_filter }}
                                    {% endif %}
                                </td>
                                {% if variation.promotional_quantitative_price %}
                                    <td>{{ variation.promotional_quantitative_price | currency_filter }}</td>
                                {% else %}
                                    <td>{{ variation.quantitative_price | currency_filter }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg">
                <p class='lead'>Total in cart</p>

                <div class='table-responsive'>
                    <table class="table">
                        <tr>
                            <td class="font-weight-bold">Total</td>
                            <td>{{ cart | cart_total_filter | currency_filter }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg mt-auto">
                <a class="btn btn-lg btn-block btn-primary" href="#">
                    Checkout
                </a>
            </div>
        </div>
    {% endblock %}
{% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>Empty shopping cart</h3>
            <p class="lead">There are no products in your shopping cart.</p>
        <div>
    </div>
{% endif %}
