{% extends 'base.html' %}
{% load product_filters %}

{% block title %}Cart{% endblock %}

{% if cart %}
    {% block content %}
        <div class="row mt-3">
            <div class="col">
                <h3>Shopping cart</h3>
                <p class="lead">The products, quantities and prices you have chosen</p>
                {% include 'partials/_cart.html' %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg">
                <p class='lead'>Total in cart</p>

                <div class='table-responsive'>
                    <table class="table">
                        <tr>
                            <td class="font-weight-bold">Total</td>
                            <td>{{ cart | cart_total_filter | currency_filter }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg mt-auto">
                <a class="btn btn-lg btn-block btn-primary" href="#">
                    Checkout
                </a>
            </div>
        </div>
    {% endblock %}
{% else %}
    <div class="row mt-3">
        <div class="col">
            <h3>Empty shopping cart</h3>
            <p class="lead">There are no products in your shopping cart.</p>
        <div>
    </div>
{% endif %}
