{% extends 'base.html' %}
{% load product_filters %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3>Choose payment method</h3>
            <p>For the developer: Add your preferred payment method</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>{{ order }}</h3>
            <div class="row mt-4">
                <div class="col-lg-2 font-weight-bold">Order number:</div>
                <div class="col-lg-4">{{ order.id }}</div>
                <div class="col-lg-2 font-weight-bold">Total to pay:</div>
                <div class="col-lg-4">{{ order.total_amount | currency_filter }}</div>

                <div class="col-lg-2 font-weight-bold">Quantity of items:</div>
                <div class="col-lg-4">{{ order.total }}</div>
                <div class="col-lg-2 font-weight-bold">Status:</div>
                <div class="col-lg-4">{{ order.get_status_display }}</div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h3>Products</h3>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table">
                    <tr>
                        <th class="d-none d-lg-block">Image</th>
                        <th>Product</th>
                        <th>Variation</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                    {% for order_item in order.orderitem_set.all %}
                        <tr>
                            <td class="d-none d-lg-block">
                                <img class="cart-img" src="{% get_media_prefix %}{{ order_item.image }}">
                            </td>
                            <td>{{ order_item.product_name }}</td>
                            <td>{{ order_item.variation }}</td>
                            <td>{{ order_item.quantity }}</td>
                            <td>
                                {% if order_item.promotional_price %}
                                    {{ order_item.promotional_price | currency_filter }}
                                {% else %}
                                    {{ order_item.price | currency_filter }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <a href="#" class="btn btn-primary btn-block btn-lg">Pay</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
