{% extends 'base.html' %}

{%block content%}
    <h1 class="mt-5">My contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
            <a href="#">John</a>
            </td>
            <td>Miranda</td>
            <td>35 9 5555-5555</td>
            <td>Family</td>
        </tr>
        <tr>
            <td>
            <a href="#">Leandro</a>
            </td>
            <td>Moreira</td>
            <td>35 9 8888-5555</td>
            <td>Family</td>
        </tr>
        <tr>
            <td>
            <a href="#">Fatima</a>
            </td>
            <td>Oliveira</td>
            <td>35 9 9999-4352</td>
            <td>Work</td>
        </tr>
        </tbody>
    </table>
{%endblock%}
