{% extends 'base.html' %}

{%block content%}
    <h1 class="mt-5">My contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            {% if contact.show %}
                <tr>
                    <td>
                        <a href="{% url 'see_contact' contact.id %}">{{ contact.name }}</a>
                    </td>
                    <td>{{ contact.last_name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.category }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{%endblock%}
